#container {
  max-width: 1000px;
  align-items: center;
  display: flex;
  background-color: #fffacd;
}
#container.off {
  background-color: black;
}
.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 300px;
  border: transparent;
}

#container #circle {
  background: yellow;
  box-shadow: 0px -10px 5px #ffefd5;
}
#container.off #circle {
  background: gray;
  box-shadow: 0px -10px 5px rgba(36, 35, 36, 1);
}
